<ion-header>
  <ion-toolbar>
    <ion-title>Warnings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" *ngIf="formErrors">
  <ion-list *ngIf="formErrors.get('email').length">
    <ion-list-header>Email warnings:</ion-list-header>
    <ion-item *ngFor="let emailError of formErrors.get('email')">
      <app-icon slot="start" name="alert-circle-outline"></app-icon>
      <ion-label class="text">{{emailError | translate}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="formErrors.get('password').length">
    <ion-list-header>Password warnings:</ion-list-header>
    <ion-item *ngFor="let passwordError of formErrors.get('password')">
      <app-icon slot="start" name="alert-circle-outline"></app-icon>
      <ion-label class="text">{{passwordError | translate}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
