.logo {
  color: var(--logo-text-color);
  font-size: var(--title-font-size);
  font-weight: bold;
  text-shadow: var(--text-shadow);
}

.logo-text {
  margin: 0;
  padding: 0;
  text-align: center;
}
