:root {
  --theme-color-step-50: #BDBDBD;
  --theme-color-step-100: #9F9F9F;
  --theme-color-step-200: #7E7E7E;
  --theme-color-step-300: #635973;
  --theme-color-step-400: #4F3E6A;
  --theme-color-step-500: #3C2663;
  --theme-color-step-600: #36225F;
  --theme-color-step-700: #2C1A55;
  --theme-color-step-800: #24144E;
  --theme-color-step-900: #140741;
  --theme-color-step-a100: #816DA2;
  --theme-color-step-a200: #5436A4;
  --theme-color-step-a400: #3F13A9;
  --theme-color-step-a700: #350395;
  --theme-warning: red;
  --theme-white-color: white;

  --background-color: var(--theme-color-step-500);

  --button-background-color: var(--theme-color-step-a200);

  --form-background-color: var(--theme-color-step-700);
  --form-title-color: #F5F5F5;
  --form-input-background-color: #F5F5F5;
  --form-button-background-color: var(--theme-color-step-a200);

  --logo-text-color: var(--theme-color-step-a100);

  --ion-tab-bar-background-color: var(--theme-color-step-500);
  --ion-tab-button-icon-color: #23538F;
  --ion-active-tab-button-icon-color: var(--theme-white-color);

  --app-item-component-content-background: var(--theme-color-step-a700);
  --app-item-component-icon-background: var(--theme-color-step-a400);
  --app-background-component-background: var(--theme-color-step-900);

  --app-error-color: var(--theme-warning);

  --app-modal-header-button-color: var(--theme-color-step-50);
  --app-modal-header-title-color: var(--theme-color-step-50);
  --app-mpdal-content-title-color: var(--theme-color-step-50);
  --app-modal-content-text-color: var(--theme-color-step-50);
  --app-modal-content-icon-color: var(--theme-color-step-50);
}
