<app-back-button></app-back-button>
<ion-content [fullscreen]="true">
  <div class="auth-logo-wrapper">
    <app-logo></app-logo>
  </div>
  <div class="center">
    <section class="form-content">
      <div class="title-wrapper">
        <h2 class="form-title form-title-wrapper">{{'AUTH.LOGIN' | translate}}</h2>
      </div>
      <div class="input-wrapper" [formGroup]="form">
        <ion-input
          [ngClass]="{'error': isInvalid('email')}"
          class="form-input mb-2_25 form-input-wrapper"
          placeholder="{{'AUTH.EMAIL' | translate}}"
          formControlName="email">
        </ion-input>
        <ion-input
          [ngClass]="{'error': isInvalid('password')}"
          type="password"
          class="form-input mb-2_25"
          placeholder="{{'AUTH.PASSWORD' | translate}}"
          formControlName="password">
        </ion-input>
      </div>
      <div class="button-wrapper">
        <ion-button
          [disabled]="!form.valid"
          class="form-button form-button-wrapper"
          (click)="login()">
          {{'AUTH.SIGN_IN' | translate}}
        </ion-button>
      </div>
      <div class="form-errors-container" *ngIf="isFormErrors">
        <div class="error-button" (click)="showWarnings()">
          <span>
            {{'AUTH.ERRORS.INFO' | pluralForm: countFormErrors | translate}}
          </span>
          &nbsp;
          <ion-badge>{{countFormErrors}}</ion-badge>
        </div>
      </div>
    </section>
  </div>
</ion-content>
