<app-back-button></app-back-button>
<ion-content [fullscreen]="true">
  <div class="auth-logo-wrapper">
    <app-logo></app-logo>
  </div>
  <div class="center">
    <section class="form-content">
      <div class="title-wrapper">
        <h2 class="form-title form-title-wrapper">{{'AUTH.LOGIN' | translate}}</h2>
      </div>
      <div class="input-wrapper" [formGroup]="form">
        <ion-input
          [ngClass]="{'error': isInvalid('email')}"
          class="form-input mb-2_25 form-input-wrapper"
          placeholder="{{'AUTH.EMAIL' | translate}}"
          formControlName="email">
        </ion-input>
        <ion-input
          [ngClass]="{'error': isInvalid('password')}"
          clear-on-edit="false"
          [type]="isSeePassword ? 'text' : 'password'"
          class="form-input mb-2_25"
          placeholder="{{'AUTH.PASSWORD' | translate}}"
          formControlName="password">
          <app-icon
            (click)="togglePassword()"
            class="eye eye-icon"
            [name]="isSeePassword ? 'eye-outline' : 'eye-off-outline'">
          </app-icon>
        </ion-input>
      </div>
      <div class="button-wrapper">
        <ion-button
          [disabled]="!form.valid || isLoading"
          class="form-button form-button-wrapper"
          (click)="login()">
          <span>{{'AUTH.SIGN_IN' | translate}}</span>
          <ion-spinner
            *ngIf="isLoading"
            class="spinner"
            name="crescent">
          </ion-spinner>
        </ion-button>
      </div>
      <div class="form-errors-container" *ngIf="isFormErrors">
        <div class="error-button" (click)="showWarnings()">
          <span>
            {{'AUTH.ERRORS.INFO' | pluralForm: countFormErrors | translate}}
          </span>
          &nbsp;
          <ion-badge>{{countFormErrors}}</ion-badge>
        </div>
      </div>
    </section>
  </div>
</ion-content>
